<div class="container">
  <div class="navbar nav d-flex justify-content-center">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>{{title}}</a>
        <ng-template ngbNavContent>
          <!-- ფერის შეჩვლა -->
          <button class="m-2" mat-icon-button color="warn" [ngStyle]="{'background-color': color}"
            (click)="click($event)">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          </button>

          <!-- კარუსელი -->
          <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[0]" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>10 seconds between slides...</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[1]" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>No mouse events...</h3>
                <p>This carousel doesn't pause or resume on mouse events</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[2]" alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>No keyboard...</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img [src]="images[3]" alt="Random fourth slide">
              </div>
              <div class="carousel-caption">
                <h3>And no wrap after last slide.</h3>
                <p>This carousel uses customized default values.</p>
              </div>
            </ng-template>
          </ngb-carousel>

          <h3 class="text-center mt-3">video player</h3>
          <div class="container d-flex justify-content-center">
            <video width="1120" autoplay controls class="shadow m-3 p-1 mb-5 bg-white rounded">
              <source src={{link}} type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>

        </ng-template>

      </li>
      <li ngbNavItem>
        <a ngbNavLink>About</a>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
    </ul>
  </div>
  <div [ngbNavOutlet]="nav"></div>
</div>
